In [3]:
#load in the libraries
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from sklearn.model_selection import RepeatedKFold
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, roc_curve, log_loss
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.model_selection import StratifiedKFold
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score, KFold
import matplotlib.pyplot as plt
from sklearn.inspection import partial_dependence, plot_partial_dependence
from matplotlib.pyplot import figure
from bayes_opt import BayesianOptimization
from sklearn.metrics import mean_squared_error
from statistics import mean
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import StratifiedKFold
from nested_cv import NestedCV
from IPython.display import Image
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import plot_roc_curve
from sklearn.model_selection import train_test_split
import seaborn as sns
from xgboost.sklearn import XGBRegressor
from sklearn.model_selection import KFold
from sklearn.inspection import PartialDependenceDisplay
import pickle

#ignore warnings if you want
import warnings
warnings.filterwarnings("ignore")

In [5]:
status = pd.read_csv("raw data/sandfly status.csv")
latlong = pd.read_csv("raw data/latlong.csv")

In [6]:
latlong

,scientificName,decimalLatitude,decimalLongitude
0,Warileya rotundipennis,5.813700,-75.822500
1,Warileya rotundipennis,5.813700,-75.822500
2,Warileya rotundipennis,5.813700,-75.822500
3,Warileya rotundipennis,5.810000,-75.820000
4,Warileya rotundipennis,5.810000,-75.820000
...,...,...,...
18494,Micropygomyia (Sauromyia) trinidadensis,-0.084444,-79.278028
18495,Lutzomyia (Helcocyrtomyia) hartmanni,-0.084444,-79.278028
18496,Pressatia triacantha,-0.084444,-79.278028
18497,Migonemyia (Migonemyia) migonei,-31.393889,-64.076667
18498,Evandromyia (Barrettomyia) cortelezzii,-31.393889,-64.076667

In [7]:
ama = list(status[status['amazonensis'] == 2]['species'])
ama_latlong = latlong.loc[latlong['scientificName'].isin(ama)]
ama_latlong.to_csv("supp maps/amazonensis.csv")

In [8]:
mex = list(status[status['mexicana'] == 2]['species'])
mex_latlong = latlong.loc[latlong['scientificName'].isin(mex)]
mex_latlong.to_csv("supp maps/mexicana.csv")

In [9]:
braz = list(status[status['braziliensis'] == 2]['species'])
braz_latlong = latlong.loc[latlong['scientificName'].isin(braz)]
braz_latlong.to_csv("supp maps/braziliensis.csv")

In [10]:
guy = list(status[status['guyanensis'] == 2]['species'])
guy_latlong = latlong.loc[latlong['scientificName'].isin(guy)]
guy_latlong.to_csv("supp maps/guyanensis.csv")

In [11]:
lain = list(status[status['lainsoni'] == 2]['species'])
lain_latlong = latlong.loc[latlong['scientificName'].isin(lain)]
lain_latlong.to_csv("supp maps/lainsoni.csv")

In [12]:
naif = list(status[status['naiffi'] == 2]['species'])
naif_latlong = latlong.loc[latlong['scientificName'].isin(naif)]
naif_latlong.to_csv("supp maps/naiffi.csv")

In [13]:
pan = list(status[status['panamensis'] == 2]['species'])
pan_latlong = latlong.loc[latlong['scientificName'].isin(pan)]
pan_latlong.to_csv("supp maps/panamensis.csv")

In [14]:
peru = list(status[status['peruviana'] == 2]['species'])
peru_latlong = latlong.loc[latlong['scientificName'].isin(peru)]
peru_latlong.to_csv("supp maps/peruviana.csv")

In [15]:
shaw = list(status[status['shawi'] == 2]['species'])
shaw_latlong = latlong.loc[latlong['scientificName'].isin(shaw)]
shaw_latlong.to_csv("supp maps/shawi.csv")

In [16]:
ama_latlong

                          scientificName  decimalLatitude  decimalLongitude
3213   Lutzomyia (Lutzomyia) longipalpis         9.500000        -75.350000
3214   Lutzomyia (Lutzomyia) longipalpis         9.500000        -75.350000
3215   Lutzomyia (Lutzomyia) longipalpis         4.311197        -74.652171
3216   Lutzomyia (Lutzomyia) longipalpis         4.112317        -74.569978
3217   Lutzomyia (Lutzomyia) longipalpis        19.585500        -88.584300
...                                  ...              ...               ...
18140              Pintomyia nuneztovari       -11.042639        -69.573500
18301       Bichromomyia flaviscutellata       -11.042639        -69.573500
18302       Bichromomyia flaviscutellata       -11.964750        -69.162833
18303               Bichromomyia reducta       -11.964750        -69.162833
18424       Bichromomyia flaviscutellata       -12.862200        -69.862000

[2382 rows x 3 columns]